.p{
    height: 400px;
    background:blueviolet;
    margin:auto;
    position:relative;
}
.c{
    width:100px;
    height:100px;
    position:absolute;
}
.c1{
    background: brown;
    top:0px;
    left:0px;
}
.c2{
    background: chartreuse;
    top:0px;
    right:0px;
}
.c3{
    background: darkblue;
    bottom:0px;
    left:0px;            
}
.c4{
    background: darkmagenta;
    bottom:0px;
    right:0px;
}